.button{
    border: none;
    background-image: linear-gradient($clr-secondary,$clr-primary) ;
    border-radius: 25px;
    padding: 15px 15px;
    font-size: 18px;
    box-shadow: 5px 6px 7px #0000002e;
    color: white;
    min-width: 180px;
    
    &:hover{
      cursor: pointer;
    }
}