/// wrap animation

@keyframes wrap {
    0% {
        transform: transformX(0);
    }
    100% {
        transform: transformX(100%);
    }
}

/// Menu Item appear

@keyframes showitem {
    0% {
        opacity: 0%;
        transform: translateY(30%);
    }
    100% {
        opacity: 100%;
        transform: translateY(0%);
    }
}

///Spinner

@keyframes spinner {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(359deg);
    }
  }
@keyframes hide {
    0% {
        opacity: 100%;
    }
    100% {
        opacity: 0%;
    }
}