/// Color pallet
$clr-primary: #9356DC;
$clr-secondary: #FF79DA;
$clr-tertiary: #99E2D0;

/// Background colors
$clr-bg-primary:#ffffff;
$clr-bg-secondary:#F7F7F7;
$clr-bg-location:#EAEAEA;
$clr-bg-footer:#353535;

/// Fonts
$font-heading: 'Shrikhand', cursive;
$font-default: 'Roboto', sans-serif;
$base-padding: 0 20px;

/// Breakpoints
$max-width: 480px;
$min-width: 320px;

/// Text Color
$clr-txt-searchinput:#353535;

/// Shadow Effect

$shadow-light:0px 5px 8px rgb(0, 0, 0,0.2);